/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package com.huaweicloud.cs.v1

import com.huaweicloud.cs.v1.model.GlobalErrorResponse
import com.huaweicloud.cs.v1.model.JobAuditLog
import com.huaweicloud.cs.v1.client._
import com.huaweicloud.cs.v1.client.CollectionFormats._
import com.huaweicloud.cs.v1.client.ApiKeyLocations._

object LogApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : Seq[JobAuditLog] (审计日志列表查询成功)
   *   code 400 : GlobalErrorResponse (无效的输入参数)
   * 
   * @param xProjectId project id, 用于不同project取token.
   * @param resourceType 资源类型，包括job、template和cluster
   * @param cursor 作业ID游标
   * @param resourceId 资源ID
   * @param pageNumber 查询的页码
   * @param limit 查询条数限制
   */
  def getJobAuditLogs(xProjectId: String, resourceType: String, cursor: Option[String] = None, resourceId: Option[String] = None, pageNumber: Option[Int], limit: Option[Int] = None): ApiRequest[Seq[JobAuditLog]] =
    ApiRequest[Seq[JobAuditLog]](ApiMethods.GET, "https://cs.cn-north-1.myhuaweicloud.com/v1.0", "/{X-Project-Id}/audit_logs", "application/json")
      .withQueryParam("resource_type", resourceType)
      .withQueryParam("cursor", cursor)
      .withQueryParam("resource_id", resourceId)
      .withQueryParam("page_number", pageNumber)
      .withQueryParam("limit", limit)
      .withPathParam("X-Project-Id", xProjectId)
      .withSuccessResponse[Seq[JobAuditLog]](200)
      .withErrorResponse[GlobalErrorResponse](400)
      

}

