/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package com.huaweicloud.cs.v1

import com.huaweicloud.cs.v1.client._
import com.huaweicloud.cs.v1.model.{GlobalErrorResponse, OverviewResponse}

object StatisticsApi {

  /**
   *
   * Expected answers:
   * code 200 : OverviewResponse (查询概要统计信息成功)
   * code 400 : GlobalErrorResponse (无效的输入参数)
   *
   * @param xProjectId project id, 用于不同project取token.
   */
  def overview(xProjectId: String): ApiRequest[OverviewResponse] =
    ApiRequest[OverviewResponse](ApiMethods.GET, "https://cs.cn-north-1.myhuaweicloud.com/v1.0", "/{X-Project-Id}/overview", "application/json")
      .withPathParam("X-Project-Id", xProjectId)
      .withSuccessResponse[OverviewResponse](200)
      .withErrorResponse[GlobalErrorResponse](400)


}

