/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package com.huaweicloud.cs.scala.v1

import com.huaweicloud.cs.scala.v1.model.GlobalErrorResponse
import com.huaweicloud.cs.scala.v1.model.JobTemplateCreateResponse
import com.huaweicloud.cs.scala.v1.model.JobTemplateDeleteResponse
import com.huaweicloud.cs.scala.v1.model.JobTemplateListResponse
import com.huaweicloud.cs.scala.v1.model.JobTemplateRequest
import com.huaweicloud.cs.scala.v1.client._
import com.huaweicloud.cs.scala.v1.client.CollectionFormats._
import com.huaweicloud.cs.scala.v1.client.ApiKeyLocations._

object TemplateApi {

  /**
   * Create on job template from CloudStream Service
   * 
   * Expected answers:
   *   code 200 : JobTemplateCreateResponse (创建作业模板成功)
   *   code 400 : GlobalErrorResponse (无效的输入参数)
   * 
   * @param xProjectId project id, 用于不同project取token.
   * @param body Create job template request
   * @param xSdkDate 使用AK/SK认证时必选: 请求的发生时间，格式为(YYYYMMDD&#39;T&#39;HHMMSS&#39;Z&#39;)。取值为当前系统的GMT时间。
   * @param authorization 使用AK/SK认证时必选: 签名认证信息。该值来源于请求签名结果。请参考请求签名流程。http://support.huaweicloud.com/api-cs/cs_02_0008.html
   * @param host 使用AK/SK认证时必选: 请求的服务器信息，从服务API的URL中获取。值为hostname[:port]。端口缺省时使用默认的端口，https的默认端口为443。
   * @param xProjectId2 可选。project id，用于不同project取token。
   * @param xAuthToken 使用Token认证时必选: 用户Token
   */
  def createJobTemplate(xProjectId: String, body: JobTemplateRequest, xSdkDate: Option[String] = None, authorization: Option[String] = None, host: Option[String] = None, xProjectId2: Option[String] = None, xAuthToken: Option[String] = None): ApiRequest[JobTemplateCreateResponse] =
    ApiRequest[JobTemplateCreateResponse](ApiMethods.POST, "https://cs.cn-north-1.myhuaweicloud.com/v1.0", "/{X-Project-Id}/job_template", "application/json")
      .withBody(body)
      .withPathParam("X-Project-Id", xProjectId)
      .withHeaderParam("X-Sdk-Date", xSdkDate)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Host", host)
      .withHeaderParam("X-Project-Id", xProjectId2)
      .withHeaderParam("X-Auth-Token", xAuthToken)
      .withSuccessResponse[JobTemplateCreateResponse](200)
      .withErrorResponse[GlobalErrorResponse](400)
        /**
   * 当前模板被引用也允许删除模板
   * 
   * Expected answers:
   *   code 200 : JobTemplateDeleteResponse (查询模板详情成功)
   *   code 400 : GlobalErrorResponse (无效的输入参数)
   * 
   * @param xProjectId project id, 用于不同project取token.
   * @param templateId 
   * @param xSdkDate 使用AK/SK认证时必选: 请求的发生时间，格式为(YYYYMMDD&#39;T&#39;HHMMSS&#39;Z&#39;)。取值为当前系统的GMT时间。
   * @param authorization 使用AK/SK认证时必选: 签名认证信息。该值来源于请求签名结果。请参考请求签名流程。http://support.huaweicloud.com/api-cs/cs_02_0008.html
   * @param host 使用AK/SK认证时必选: 请求的服务器信息，从服务API的URL中获取。值为hostname[:port]。端口缺省时使用默认的端口，https的默认端口为443。
   * @param xProjectId2 可选。project id，用于不同project取token。
   * @param xAuthToken 使用Token认证时必选: 用户Token
   */
  def deleteJobTemplate(xProjectId: String, templateId: Long, xSdkDate: Option[String] = None, authorization: Option[String] = None, host: Option[String] = None, xProjectId2: Option[String] = None, xAuthToken: Option[String] = None): ApiRequest[JobTemplateDeleteResponse] =
    ApiRequest[JobTemplateDeleteResponse](ApiMethods.DELETE, "https://cs.cn-north-1.myhuaweicloud.com/v1.0", "/{X-Project-Id}/job_template/{template_id}", "application/json")
      .withPathParam("X-Project-Id", xProjectId)
      .withPathParam("template_id", templateId)
      .withHeaderParam("X-Sdk-Date", xSdkDate)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Host", host)
      .withHeaderParam("X-Project-Id", xProjectId2)
      .withHeaderParam("X-Auth-Token", xAuthToken)
      .withSuccessResponse[JobTemplateDeleteResponse](200)
      .withErrorResponse[GlobalErrorResponse](400)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Seq[JobTemplateListResponse] (模板列表查询成功)
   *   code 400 : GlobalErrorResponse (无效的输入参数)
   * 
   * @param xProjectId project id, 用于不同project取token.
   * @param xSdkDate 使用AK/SK认证时必选: 请求的发生时间，格式为(YYYYMMDD&#39;T&#39;HHMMSS&#39;Z&#39;)。取值为当前系统的GMT时间。
   * @param authorization 使用AK/SK认证时必选: 签名认证信息。该值来源于请求签名结果。请参考请求签名流程。http://support.huaweicloud.com/api-cs/cs_02_0008.html
   * @param host 使用AK/SK认证时必选: 请求的服务器信息，从服务API的URL中获取。值为hostname[:port]。端口缺省时使用默认的端口，https的默认端口为443。
   * @param xProjectId2 可选。project id，用于不同project取token。
   * @param xAuthToken 使用Token认证时必选: 用户Token
   * @param cursor 作业模板ID
   * @param limit 查询条数限制
   * @param order 查询结果排序, 升序和降序两种可选
   */
  def getJobTemplates(xProjectId: String, xSdkDate: Option[String] = None, authorization: Option[String] = None, host: Option[String] = None, xProjectId2: Option[String] = None, xAuthToken: Option[String] = None, cursor: Option[Long] = None, limit: Option[Int] = None, order: Option[String]): ApiRequest[Seq[JobTemplateListResponse]] =
    ApiRequest[Seq[JobTemplateListResponse]](ApiMethods.GET, "https://cs.cn-north-1.myhuaweicloud.com/v1.0", "/{X-Project-Id}/job_templates", "application/json")
      .withQueryParam("cursor", cursor)
      .withQueryParam("limit", limit)
      .withQueryParam("order", order)
      .withPathParam("X-Project-Id", xProjectId)
      .withHeaderParam("X-Sdk-Date", xSdkDate)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("Host", host)
      .withHeaderParam("X-Project-Id", xProjectId2)
      .withHeaderParam("X-Auth-Token", xAuthToken)
      .withSuccessResponse[Seq[JobTemplateListResponse]](200)
      .withErrorResponse[GlobalErrorResponse](400)
      

}

